extends layout

block content
  table.table.table-striped
    thead
      tr
        th Nom
        th #
        th Plus vieux
        th
        th Plus jeune
    tbody 
      for item in items
        tr 
          td.col-md-6
            a(href="./#{encodeURI('item_group_details?itemName='+item.name)}")= item.name
          td.col-md-1= item.count
          td.col-md-2= item.oldestAdditionDate
          td.col-md-1
            span.glyphicon.glyphicon-arrow-right(aria-hidden="true")
          td.col-md-2= item.youngestAdditionDate
      else
        tr
          td sorry, no items!